<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!--<add key="ConnectionMySql" value="server=104.199.159.110;userid=root;password=@dm1n-cstc;database=DIMTS" />-->
		<!--<add key="ConnectionMySql" value="server=34.72.117.4;userid=root;password=R@gSd#@Xouk20;database=DIMTS"/>-->
		<!--<add key="ConnectionInsert" value="server=192.168.2.21;userid=root;password=root;database=dimts_otd"/>-->
		<add key="ConnectionInsert" value="server=34.72.117.4;userid=root;password=R@gSd#@Xouk20;database=OTD_DIMTS_Test"/>
		
		<add key="Database" value="OTD_DIMTS_Test"/>
		<!--<add key="LogPath" value="D:\RailwayFolder"/>-->
		<add key="LogPath" value="D:\Dinesh\Currently Working Project\DIMTS_Download\Logs"/>		
		<!--<add key="RailCheckPath" value="D:\RailwayFolder"/>-->
		<!--<add key="MailToAddress" value="prithviraj.mendon@leptonmaps.com"/>-->
		<add key="MailToAddress" value="dinesh.kumar1@leptonsoftware.com"/>
		<add key="DIMTSURL" value="https://otd.delhi.gov.in/api//realtime/VehiclePositions.pb?key=bololiRALKUaGUqstssgruxy1pJP2j6Q"/>
		<add key="Time" value="1"/>
		<!--<add key="Mail" value="leptonuser.transit/Amit@2020" />-->
		<add key="Mail" value="transit.lepton/Munish@2020"/>
		<add key="ftpfilepath" value="ftp://35.197.45.239/LIVE/DIMTS/"/>
		<add key="Ftp" value="lepton/lept0n@ftp"/>
		<add key="FileCopypath" value="D:\\Dinesh\\Currently Working Project\\DIMTS_Download\\OTD_Delhi_PB\\VehiclePositions.pb"/>
		<add key="RST" value="35"/>
	</appSettings>
</configuration>
